@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", "DM Sans", "sans-serif";
  color: #ffffff;
  background-color: #050505;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-6xl md:text-8xl lg:text-9xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-gray-400 max-w-5xl;
  }
  h2 {
    @apply text-3xl lg:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-gray-400;
  }
  h3 {
    @apply uppercase text-xl lg:text-2xl font-semibold opacity-60;
  }
  p {
    @apply text-xl lg:text-2xl max-w-2xl;
  }
}

@layer components {
  .primary-button {
    @apply py-4 bg-gradient-to-r from-white to-gray-400 text-black font-medium hover:brightness-125 duration-500;
  }
  .secondary-button {
    @apply py-4 font-medium border-collapse border-2 border-gray-300 hover:bg-gray-300 hover:text-black duration-500;
  }
  .default-text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-white to-gray-300;
  }
}
